.secrets
.gitconfig.local
*~
.DS_Store
*.swp
.netrwhist
*.bak
*.log
logs/
*.svn*
.svn/
.vifm/vifminfo

*.class
*.war
classes/
build/
target
out
.ivy/
.grails/

*.iml
*.eml
*.ipr
.idea
.settings/
.classpath
.project


.vagrant/

*.pyc
*.pyo
*.o
