#
#  Put this stuff in ~/.gitconfig.local
#
#  [user]
#    name = D.R4F4EL
#    email = d.r4f4el@gmail.com

[include]
    path = ~/.gitconfig.local

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore

[pull]
    rebase = true

[branch "master"]
    rebase = true

[push]
    # push should only push current branch, not all branches
    default = current

[branch]
    # git pull should always rebase
    autosetuprebase = always

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[alias]
    aa = add --all

    # status
    s  = status -s
    st = status -s
    sb = status -sb

    # commit
    ci    = commit --verbose
    cim   = commit --verbose -m
    cia   = commit --amend
    amend = commit --amend

    # checkout
    co  = checkout
    com = checkout master
    cod = checkout develop
    cob = checkout -b

    # rebase
    rbi     = rebase -i
    rbo     = rebase --onto
    rbom    = rebase --onto master
    rbomm   = rebase --onto master master
    rbomd   = rebase --onto master develop
    rbod    = rebase --onto develop
    rbodd   = rebase --onto develop develop
    rbc     = rebase --continue
    rbs     = rebase --skip
    rba     = rebase --abort

    # pull
    pro  = pull --rebase origin
    prod = pull --rebase origin develop
    prom = pull --rebase origin master

    # push
    po  = push origin
    poh = push origin HEAD
    pod = push origin develop
    pom = push origin master

    # branch
    b   = branch
    br  = branch
    ba  = branch -a
    bv  = branch -v
    bav = branch -av
    bd  = branch -D
    rmb = !bash -c \"git branch -D $1 && git push origin --delete $1\" -

    # diff
    d  = diff
    di = diff
    dc = diff --cached

    # tag
    tl   = tag -l
    tags = tag -l
    rmt  = !bash -c \"git tag -d $1 && git push origin :refs/tags/$1\" -

    # Push to Gerrit
    review = !bash -c \"git push --force origin HEAD:refs/for/$1\" -

    # View a pretty git log with branch tree
    l   = !git log -10 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ll  = !git log -20 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lll = !git log -30 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lg  = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

    # View the log and diff for a commit (previous if no SHA1 provided)
    details = log -n1 -p --format=fuller

    # Unstage changes from the index
    unstage = reset HEAD --

    # Remove deleted files
    r = !git ls-files -z --deleted | xargs -0 git rm

    # Show all of my configured aliases
    aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort

    # Update all submodules
    subup = submodule update --init

    # Start a new local repository and perform initial commit
    this = !git init && git add . && git commit -m \"Initial commit.\"

    # Thin out older metadata within the repository, reduceses filesystem footprint
    trim = !git reflog expire --expire=now --all && git gc --prune=now

[url "https://github.com/"]
    insteadOf = gh:

[url "git@github.com:"]
    pushInsteadOf = "https://github.com/"
    pushInsteadOf = "gh:"

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = bb:
