*~
.DS_Store
*.swp
.netrwhist
*.bak
*.log
logs/
*.svn*
.svn/
vim/bundle/**

*.class
*.war
classes/
build/
target
out
.ivy/
.grails/

*.iml
*.eml
*.ipr
.idea
.settings/
.classpath
.project
*.classpath~
*.properties~

.vagrant/

*.pyc

